.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding: 0 150px;
    align-items: center;
    background: whitesmoke;
}

.header h1 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    color: #111111;    
}